
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
      <a mat-list-item [matMenuTriggerFor]="countersMenu">Counters List<mat-icon>arrow_drop_down</mat-icon></a>
      <mat-menu #countersMenu="matMenu">
          <a mat-menu-item *ngFor="let counter of counters" routerLink="/counter/{{ counter.id }}">NO.{{ counter.id }}  {{ counter.name | titlecase  }}</a>
      </mat-menu>
      <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
      <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>COUNTERS</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
